/*-----------Inicio de Footer------------*/
/*Estilos del Footer = Pie de Pagina*/
.pie-pagina{
    width: 100%;
  }
    /*Ajustes para el grupo de columnas*/
    .pie-pagina .grupo{
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      padding: 45px 0px;
    }
    /*------------*/
    /*Estilos para los Subtitulos*/
    .pie-pagina .grupo .box h2{
        text-align: center;
        color: black;
        margin-bottom: 25px;
        font-size: 20px;
        /*font-family: $font-titulos;*/
    }
    /*------------*/
    /*Estilos para los Parrafos*/
    .pie-pagina .grupo .box p{
      color: #1b1b1b;
      text-align: center;
    }
    /*------------*/
    /*Estilos de los Botones de Redes sociales*/
    .pie-pagina .grupo .red-social a{
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #ffff;
      margin-right: 10px;
      background-color: grey;
      text-align: center;
      transition: all .3s ease;
      
    }
      .pie-pagina .grupo .red-social a:hover{
        background: gray;
    }
      /*------------*/
/*-----------Fin de Footer------------*/