/*-----------Inicio de Cards de Productos-----------*/
    /*Ajustes para el container de la publicacion*/

.container-products{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #efefef;
    flex-wrap: wrap;
}
    /*------------*/

    /*Configuracion para la publicacion*/
.card{
    background-color: #fff;
    width: 300px;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
}
    /*------------*/

    /*Estilos para las imagenes de la publicacion*/
.card .imgContainer{
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card .imgContainer img{
    width: 100%;
}
    /*------------*/    

    /*Desvanecimiento de imagen en publicacion*/
.card .imgContainer img:nth-child(2){
    position: absolute;
    top: -20%;
    left: 0;
    opacity: 0;
    transition: 0.5s all;
}

.card .imgContainer:hover img:nth-child(2){
    opacity: 1;
    top: 0;
}
    /*------------*/

.title{
    font-weight: 500;
    color: #444;
}

.price{
    font-size: 22px;
    font-weight: 300;
}

.buttongroup{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.buttongroup button{
    border: 0;
    outline: 0;
    color: #fff;
    padding: 10px 20px;

}

.buttongroup button.buy{
    background-color: #1e1e1e;
    cursor: pointer;
    border-radius: 20px;
}
.buttongroup button.addToCart{
    background-color: #505050;
    cursor: pointer;
    border-radius: 20px;
}
/*-----------Fin de Cards de Productos------------*/