/*Font para Navbar*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*-----*/
/*Font para los Titulos, Subtitulos*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*-----*/
/*Font para los Parrafos*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
/*-----*/
/*Font para el Formulario*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
/*-----*/
$font-titulos: 'Open Sans', sans-serif;
$font-parrafos: 'Source Sans Pro', sans-serif;
$font-formulario: 'Poppins', sans-serif;
